body{
    .londrina-sketch-regular {
        font-family: "Londrina Sketch", sans-serif;
        font-weight: 400;
        font-style: normal;
      }      
}

ol,
ul{list-style: none;}

a{
    text-decoration: none;
}

header{display:flex;
background-color: rgb(255, 0, 76);
align-items: center;
justify-content: space-between;
padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: center; /* Centra los elementos del menú */
    gap: 20px; /* Espacio entre cada elemento del menú */
    padding-right: 20px; /* Espacio extra en el lado derecho */
}

nav a {
    color: white; /* Color del texto */
    text-decoration: none;
}

header a i{
    color: white;
    font-size: 1.5cm;
    padding: 9.5px;
}
 header nav ul{
    display:flex;
gap: 1.1em;
}   

header nav ul li a{
    color: azure;
} 
.seccion-1 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

footer{background-color: brown;
div {display: block}
}
.seccion-3 {
    display:flex;
    align-items: center;
    padding: 100px 50px;
    position: relative;
    width: 1182px;
}
#check {
    display: none;
}

.checkbtn {
display: none;
font-size: 25px;
color: white;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    max-width: 1200px; /* Ajusta este valor según el ancho deseado */
    margin: 0 auto; /* Centra el contenedor en la página */
}


.card {
    flex: 1; /* Permite que las tarjetas ocupen el mismo ancho */
    max-width: 500px; /* Limita el ancho máximo de cada tarjeta */
    text-align: left; /* Alinea el texto dentro de la tarjeta a la izquierda */
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card h2 {
    color: black;
    font-size: 24px;
    margin: 15px 0 10px;
}

.card p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.card a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}